*.log
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
logs/
gradle-reports/
target/
build/
.gradle/
*.iml
.classpath
.project
.settings
.idea/
classes/
secret.properties
service.properties
log4j.properties
logback.xml
secret*
dependencyMapping.properties
transitiveProjectDeps*
*.ipr
*.iws
*.jks
out/